* {
    box-sizing: border-box;
}

/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
}

/* 标题字体加大 */
.header h1 {
    font-size: 40px;
}

.container {
    margin: 0 auto;
    width: 300px;
}
